@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #ddd; }

.main-title {
  font-size: 3rem;
  color: #1a1a1a; }

.navbar {
  width: 100%;
  border-radius: 4px; }
